body {
  background-color: darkseagreen;
  background-image: url("/assets/scale.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  object-fit: cover;
}
.row {
  height: 300px;
  width: 600px;
  /* border: 1px solid white; */
  box-shadow: 8px 8px 15px rgba(46, 139, 86, 0.404);
  border-radius: 9px;
  margin: 25px;
  background-color: white;
  /* padding:250px; */
  overflow-x: hidden;
  /* box-shadow:  1px 1px 1px 1px black; */
  background-color: rgba(46, 111, 139, 0.685);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  overflow-y: hidden;
  padding-top: 110px;
}
button:not(:disabled) {
  cursor: pointer;
  width: 215px;
}
.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw);
  display: flex;
  justify-content: space-around;
  color: black;
}
#btn {
  border-radius: 50px;
  height: 45px;
  border: none;
}
#weight {
  border-radius: 50px;
  height: 45px;
  border: none;
}
#height {
  border-radius: 50px;
  height: 45px;
  border: none;
}
#result {
  font-size: 25px;
}
/* @media only screen and (max-width: 904px) {
  .container {
    height: 600px;
    width: 340px;
    border: 1px solid white;
    box-shadow: 8px 8px 15px #e4e4e4;
    border-radius: 9px;
    margin: 25px;
    background-color: white;
     padding:250px;
    overflow-x: hidden;
    overflow-y: hidden;
     box-shadow:  1px 1px 1px 1px black; 
  }
} */
